.icon-custom {
  font-size: 1.5rem;
  font-weight: bold;
}

.icon-custom-danger {
  color: #e13c3c;
}

.icon-custom-success {
  color: #0b875b;
}

.icon-custom-info {
  color: #0080ff;
}

.icon-custom-medium {
  color: #FF2F2F;
}