.navbar {
  grid-column: navbar-start / navbar-end;
  background: #004080;
  color: #fff;
  height: 100vh;
  transition: all .3s;
  display: flex;
  flex-direction: column;

  &:hover {
    width: 180px;
    z-index: 100000;
    box-shadow: 20px 20px 40px rgba(#777777, .4);
  }

  figure {
    width: 100%;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    img {
      object-fit: cover;
      width: 45px;
      height: 45px;
      border-radius: 5px;
    }
  }

  &__menu {
    display: flex;
    padding-left: 18px;
    // margin-top: 20px;
    align-items: center;
    padding-right: 10px;
    cursor: pointer;
    &:hover {
      background-color: #303F9F;
    }
    &__icon {
      font-size: 3rem;
      margin-right: 20px;
      box-sizing: border-box;
      display: block;
    }
    &__title {
      a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
      }
    }
  }

}

.icon {
  // display: inline;
  font-size: 2.5rem;
  margin-right: 1px;
}

.modal-main-nav {
  width: 60% !important;
}
.form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, min-content);
  grid-gap: 20px;
}