.sidebar {
  grid-template-columns: sidebar-start / sidebar-end;
  background-color: #fafafa;
  color: #000000;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  padding: 1.5rem;
  padding-left: 1.7rem;
  font-size: 6rem;
  display: grid;
  align-items: start;
  grid-gap: 2rem;

  @media screen and (max-width: 900px) {
    display: none;
  }

  .project__details {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-gap: 3rem;
    align-items: center;
    &--img {
      width: 100%;

      &--icon {
        object-fit: cover;
        width: 45px;
        height: 45px;
        border-radius: 5px;
      }
    }
    &--title {
      color: #444;
      h3 {
      }
      span {
        display: block;
      }
    }
  }
  .menu {
    align-self: start;
  }

  .menu-others {

  }
}

.h3 {
  display: block;
  // margin: 1rem 0;
}

.list {
  list-style: none;
  display: block;
  &__item {
    &__link,
    &__link:active {
      span {
        font-size: 1.5rem;
        margin-right: 5px;
        color: #444444;
        box-sizing: border-box;
      }
      display: block;
      text-decoration: none;
      color: #444;
      font-weight: 500;
      padding: 10px 15px;
      font-size: 1.5rem;


      &:hover {
        background-color: rgba(#cccccc, .4);
        color: rgba(blue, .5);
        font-weight: 600;
      }
    }
  }
}


.icon-custom {
  color: #444 !important;
  font-size: 17px !important;
  font-weight: 400;
}
