:root {
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;

  --color-grey-dark-1: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;

  --color-white: #fff;
  --color-black: #1B1B1B;

  --bp-largest: 75em; // 1200px / 16px
  --bp-large: 68.75em; // 1100px / 16px
  --bp-medium: 56.25em; // 924px / 16px
  --bp-small: 45.25em; // 724px /
}
